<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 mt-5 ml-5 text-gray-800">My recipes</h1>
  </div>
  <div class="row">

    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-6">
        <div class="card shadow mb-4">
            <!-- Card Body -->
            <div class="card-body">
              <table id="table" class="table table-hover table-mc-light-blue">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Ingredients</th>
                  <th>Description</th>
                  <th>kindOfRecepy</th>
                  <th>PDF</th>
                </tr>
                </thead>
                <tbody *ngFor="let elem of recipes" class="colorBlackText">
                <tr>
                  <td>{{elem.name}}</td>
                  <td>{{elem.ingredients}}</td>
                  <td>{{elem.description}}</td>
                   <td>{{elem.kindOfRecepy}}</td>
                  <td>
                    <label class="customcheckbox m-b-20">
                    <input type="checkbox" id="mainCheckbox64" name="id" (click)="select(elem)">
                    <span class="checkmark"></span>
                    </label>
                    </td>
                <!--{{/recepies}}-->
                </tbody>
              </table>
              <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="loadMore" type="submit" (click)="download()">Download</button>
                <ul>
                    <li (click)="selectItem(1)">1</li>
                    <li (click)="selectItem(2)">2</li>
                    <li (click)="selectItem(3)">3</li>

                  </ul>
            </div>
        </div>
    </div>
  </div>
</div>
