<div class="table-responsive-vertical shadow p-4">
  <!-- Table starts here -->
  <div class="card-body">
    <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
      <tr>
        <th>Name</th>
        <th>Ingredients</th>
        <th>Description</th>
        <th>kindOfRecepy</th>
      </tr>
      </thead>
      <tbody *ngFor="let recipe of recipes" class="colorBlackText">
      <!--{{#recepies}}-->
        <tr>
          <td>{{recipe.name}}</td>
          <td>{{recipe.ingredients}}</td>
          <td>{{recipe.description}}</td>
          <td>{{recipe.kindOfRecepy}}</td>
      <!--{{/recepies}}-->
      </tbody>
    </table>
  </div>

