<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #10783c;">
  <div class="container">
      <a class="navbar-brand" href="#">Wellcome Back!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" style="justify-content: end;">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item" routerLinkActive="active">
              </li>
              <li class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="./diet">Diet</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="./recipes">Recipes</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="./form">Form</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="./charts">Charts</a>
            </li>

          </ul>
          <img class="img-profile rounded-circle correctsize" src="../../../../../assets/undraw_profile.svg" title="icon">
      </div>
  </div>
</nav>
