<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-2 mt-5 ml-5 text-gray-800">Charts</h1>
</div>
<div class="card shadow m-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Downloaded Diets</h6>
  </div>
  <div class="card-body" style="height: 350px;">
      <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
      <!--app-diets-in-server></!--app-diets-in-server-->
  </div>
      <hr>

  </div>
</div>
