<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 mt-4 ml-4 text-gray-800">New Form</h1>
  </div>
  <div class="row">

    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-6">
        <div class="card shadow mb-4">
            <!-- Card Body -->
            <div class="card-body">
              <div class="col-12">
                <form method="post"style=" margin-top: 70px; margin-bottom: 80px;font-size: 18px;font-weight: 800;color: #232d39;letter-spacing: 1.3px;">
                    <!--Question-->
                    <div class="row" style="margin-bottom: 40px;">
                        <div class="col-1 mt-5" style="color:#5AF499; text-align:center;">
                            <em>1.</em>
                        </div>
                        <div class="col-11 mt-5">
                            <div class="row">
                                <label> What is your genetic sex (the one asigned at birth)?</label>
                            </div>
                            <div class="row">
                                <!--select name="gensex" id="gensex" style="background-color:#5AF499;">
                                    <option value="fem">Female</option>
                                    <option value="masc">Male</option>
                                    <option value="inter">Intersex</option>
                                </select--> <br>
                                <div class="col-lg-5">
                                    <input #gensex id="fem" name="gensex" type="radio" value="fem">
                                    <label for="fem">Female</label><br>
                                    <input #gensex id="male" name="gensex" type="radio" value="male">
                                    <label for="male">Male</label><br>
                                    <input #gensex id="inters" name="gensex" type="radio" value="inters">
                                    <label for="inters">Intersex</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Question-->
                    <div class="row" style="margin-bottom: 40px;">
                        <div class="col-1" style="color:#5AF499; text-align:center;">
                            <em>2.</em>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <label> What is your age?</label>
                            </div>
                            <div class="row">
                                <!--select name="age" id="age" style="background-color:#5AF499;">
                                    <option value="1518">15-18</option>
                                    <option value="1925">19-25</option>
                                    <option value="2635">26-35</option>
                                    <option value="3650">36-50</option>
                                    <option value="51">51+</option>
                                </select> <br-->
                                <div class="col-lg-5">
                                    <input #age id="1825" name="age" type="radio" value="1825">
                                    <label for="1825">18-25</label><br>
                                    <input #age id="2635" name="age" type="radio" value="2635">
                                    <label for="2635">26-35</label><br>
                                    <input #age id="3650" name="age" type="radio" value="3650">
                                    <label for="3650">36-50</label><br>
                                    <input #age id="51" name="age" type="radio" value="51">
                                    <label for="51">51+</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Question-->
                    <div class="row" style="margin-bottom: 40px;">
                        <div class="col-1" style="color:#5AF499; text-align:center;">
                            <em>3.</em>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <label>How often do you make physical activity?</label>
                            </div>
                            <div class="row">
                                <!--select name="phactivity" id="phactivity" style="background-color:#5AF499;">
                                    <option value="low">Three times a month or less</option>
                                    <option value="medium">One or two times a week</option>
                                    <option value="high">More than three times a week</option>
                                </select> <br-->
                                <div class="col-lg-5">
                                    <input #phactivity id="low" name="phactivity" type="radio" value="low">
                                    <label for="low">Three times a month or less</label><br>
                                    <input #phactivity id="medium" name="phactivity" type="radio" value="medium">
                                    <label for="medium">One or two times a week</label><br>
                                    <input #phactivity id="high" name="phactivity" type="radio" value="high">
                                    <label for="inters">More than three times a week</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Question-->
                    <div class="row" style="margin-bottom: 40px;">
                        <div class="col-1" style="color:#5AF499; text-align:center;">
                            <em>4.</em>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <label  for="weight" > How much do you weight? (kg)</label>
                            </div>
                            <div class="row">
                                <input #weight type="text" id="weight" name="weight" style="border-color: #5AF499;"><br>
                            </div>
                        </div>
                    </div>

                    <!--Question-->
                    <div class="row" style="margin-bottom: 40px;">
                        <div class="col-1" style="color:#5AF499; text-align:center;">
                            <em>5.</em>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <label  for="height" > How tall are you? (m)</label>
                            </div>
                            <div class="row">
                                <input #height type="text" id="height" name="height" style="border-color: #5AF499;"><br>
                            </div>
                        </div>
                    </div>

                    <!--Question-->
                    <div class="row" style="margin-bottom: 40px;">
                        <div class="col-1" style="color:#5AF499; text-align:center;">
                            <em>6.</em>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <label> Why are you interested in our services?</label>
                            </div>
                            <div class="row">
                                <!--select name="interest" id="interest" style="background-color:#5AF499;">
                                    <option value="sports">I am starting with sports and I need advice</option>
                                    <option value="diet">I would like to change my body</option>
                                    <option value="health">I feel like I could eat better</option>
                                </select> <br-->

                                <div class="col">
                                    <input #interest id="sports" name="interest" type="radio" value="sports">
                                    <label  for="sports">I am starting with sports and I need advice</label><br>
                                    <input #interest id="diet" name="interest" type="radio" value="diet">
                                    <label for="diet">I would like to change my body</label><br>
                                    <input #interest id="health" name="interest" type="radio" value="health">
                                    <label for="health">I feel like I could eat better</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Question-->
                    <div class="row" style="margin-bottom: 40px;">
                        <div class="col-1" style="color:#5AF499; text-align:center;">
                            <em>7.</em>
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <label> What is the purpose for which you start this journey?</label>
                            </div>
                            <div class="row">
                                <!--select name="aspiration" id="aspiration" style="background-color:#5AF499;">
                                    <option value="sports">Weight loss</option>
                                    <option value="diet">Weight gain </option>
                                    <option value="health">Healthy eating</option>
                                </select> <br-->

                                <div class="col-lg-5">
                                    <input #aspiration id="wloss" name="aspiration" type="radio" value="wloss">
                                    <label  for="wloss">Weight loss</label><br>
                                    <input #aspiration id="wgain" name="aspiration" type="radio" value="wgain">
                                    <label for="wgain">Weight gain</label><br>
                                    <input #aspiration id="eatbetter" name="aspiration" type="radio" value="eatbetter">
                                    <label for="eatbetter">Healthy eating</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pb-5" style="justify-content:center; text-align: center;">
                        <!--input title="sent" style=" width:100px; display: inline-block;font-size: 15px;padding: 12px 20px;background-color: #5AF499;color: #fff;border-color: #fff;text-align: center;font-weight: 400;text-transform: uppercase;transition: all .3s;"
                        (click)="createForm(gensex.value,age.value,phactivity.value,weight.value,height.value,interest.value,aspiration.value)" value="Submit"-->
                    </div>
                </form>

            </div>
            </div>
        </div>
    </div>
    </div>
</div>
