<footer id="dk-footer" class="dk-footer">
  <div class="copyright">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <span>Copyright © 2019, All Right Reserved The Smart Way</span>
              </div>
              <!-- End Col -->
              <div class="col-md-6">
                  <div class="copyright-menu">
                      <ul>
                          <li>
                              <a href="#">Home</a>
                          </li>

                      </ul>
                  </div>
              </div>
              <!-- End col -->
          </div>
          <!-- End Row -->
      </div>
      <!-- End Copyright Container -->
  </div>
</footer>
