  <!-- Topbar -->
  <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="margin-left: 212px;" >

    <!-- Sidebar Toggle (Topbar) -->
    <div class="text-center d-none d-md-inline">
        <input type="image" src="../../../assets/SmartWay.png" class="rounded-circle border-0" id="sidebarToggleTop"/>
    </div>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" (click)="showLogout()" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <img class="img-profile rounded-circle"
                     src="../../../assets/undraw_profile.jpg">
            </a>
            <!-- Dropdown - User Information -->
            
            <div  class="dropdown-menu dropdown-menu-right shadow animated--grow-in {{show}} "
                 aria-labelledby="userDropdown">
                 <a *ngIf="type" class="dropdown-item" href="/workerProfile">
                    Profile
                </a>
                <div *ngIf="type" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    Logout
                </a>
            </div>

        </li>

    </ul>

</nav>

<!-- End of Topbar -->