
<div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="main-nav">
                <!-- ***** Logo Start ***** -->
                <a href="/" class="logo"><img src="images/SmartWay.png">The    <em>  Smart  </em>    Way</a>
                <!-- ***** Logo End ***** -->
                <!-- ***** Menu Start ***** -->
                <ul class="nav">
                    <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                    <li class="scroll-to-section"><a href="#features">Our Diets</a></li>
                    <li class="scroll-to-section"><a href="#trainers">Our Profesionals</a></li>
                    <li class="scroll-to-section"><a href="#schedule">More Info</a></li>
                    <li class="scroll-to-section"><a href="#contact-us">Contact us</a></li>
                    <li class="main-button"><a href="/login"  style="color:black;font-weight: 700;">Log In</a></li>
                </ul>
                <!-- ***** Menu End ***** -->
            </nav>
        </div>
    </div>
</div>