<div class="table-responsive-vertical shadow p-4">
  <!-- Table starts here -->
  <div class="card-body">
    <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody *ngFor="let diet of diets" class="colorBlackText">
      <!--{{#recepies}}-->
        <tr>
          <td>{{diet.name}}</td>
          <td>{{diet.dietRefactored}}</td>
      <!--{{/recepies}}-->
      </tbody>
    </table>
  </div>
