<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #10783c;">
  <div class="container">
      <a class="navbar-brand" routerLink="./clients">Wellcome Back!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" style="justify-content: end;">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item" routerLinkActive="active">
              </li>
              <li class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="./diet">Diet</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="./recipes">Recipes</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="./clients">Clients</a>
              </li>

          </ul>
          <a class="nav-link dropdown-toggle" (click)="show()" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <img class="img-profile rounded-circle correctsize" src="../../../../../assets/undraw_profile.svg" title="icon" >
        </a>
        <div *ngIf="showMenu" class="dropdown-menu dropdown-menu-right shadow animated--grow-in show"  style="margin-top: 100px;">
            <a class="dropdown-item" (click)="logout()"  data-toggle="modal" data-target="#logoutModal">
                Logout
            </a>
        </div>
      </div>
  </div>
</nav>
