<div class="row" >
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="margin-top: -94px;">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
        <div class="sidebar-brand-text mx-3" >ADMIN</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->

    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- Nav Item - Utilities Collapse Menu -->
    <li *ngIf="admin" class="nav-item">
        <a class="nav-link collapsed" href="/workerTable" style="text-align:center">
            Worker Table
        </a>
    </li>

    <li *ngIf="client" class="nav-item">
        <a class="nav-link collapsed" href="/workerTable" style="text-align:center">
            Diets
        </a>
    </li>

    <li *ngIf="client" class="nav-item">
        <a class="nav-link collapsed" href="/workerTable" style="text-align:center">
            Form
        </a>
    </li>

    <li *ngIf="client" class="nav-item">
        <a class="nav-link collapsed" href="/workerTable" style="text-align:center">
            Recepies
        </a>
    </li>

    <li *ngIf="client" class="nav-item">
        <a class="nav-link collapsed" href="/workerTable" style="text-align:center">
            Charts
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li *ngIf="admin" class="nav-item">
        <a class="nav-link collapsed" href="/adminCharts" style="text-align:center">
           Statistics
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li *ngIf="admin" class="nav-item">
        <a class="nav-link collapsed" href="/tablesClient" style="text-align:center">
            Client Table
        </a>
    </li>

    <li *ngIf="worker" class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <span>Recipes</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Recipes:</h6>
                <a class="collapse-item" href="/viewRecipe">View Recipes</a>
                <a class="collapse-item" href="/workerUploadRecipes">Upload Recipe</a>
            </div>
        </div>
    </li>

    <li *ngIf="worker" class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <span>Recipes</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Recipes:</h6>
                <a class="collapse-item" href="/viewRecipe">View Recipes</a>
                <a class="collapse-item" href="/workerUploadRecipes">Upload Recipe</a>
            </div>
        </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <input type="image" src="../../../assets/SmartWay.png" class="rounded-circle border-0" id="sidebarToggle"/>
    </div>

    <!-- Sidebar Message -->

</ul>
</div>
<!-- End of Sidebar -->