<div class="container-fluid">

  <!-- {{diets.name}} -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-2 mt-5 ml-4 text-gray-800"></h1>
  </div>
  <div class="row">

    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-6">
        <div class="card shadow mb-4" style="height: 390px;">
            <!-- Card Body -->
          <div class="card-body">
            <h1 class="h3 mb-0 mt-5 ml-5 text-gray-800">{{diets.name}}</h1>
            <table style="margin-bottom: 40px; margin-top: 50px; table-layout: auto; width: 100%; border: 5px solid #5AF499; overflow-x: auto;">
              <tbody>
              <tr style="height: 70px; font-weight: 600; border: 3px solid #5AF499;">
                  <th>Time</th>
                  <th>Monday</th>
                  <th>Tuesday</th>
                  <th>Wednesday</th>
                  <th>Thursday</th>
                  <th>Friday</th>
                  <th>Saturday</th>
                  <th>Sunday</th>
              </tr>
      
              <tr style="height: 50px; border: 3px solid #5AF499;" >
                  <td class="day-time">Breakfast</td>
                  <td data-title="Link PDF" *ngFor="let item of diets.dietRefactored">
                      <a style="color:#1cc88a;"
                         target="_blank">{{item[0]}}</a>
                  </td>
                  <!--{{/br}}-->
              </tr>
              <tr style="height: 50px; border: 3px solid #5AF499;" >
                  <td class="day-time" >Lunch</td>
                  <!--{{#ln}}-->
                  <td data-title="Link PDF" *ngFor="let item of diets.dietRefactored">
                      <a style="color:#1cc88a;"
                         target="_blank">{{item[1]}}</a>
                  </td>
                  <!--{{/ln}}-->
              </tr>
              <tr style="height: 50px; border: 3px solid #5AF499;" >
                  <td class="day-time">Dinner</td>
                  <!--{{#dn}}-->
                  <td data-title="Link PDF" *ngFor="let item of diets.dietRefactored">
                      <a style="color:#1cc88a;"
                         target="_blank">{{item[2]}}</a>
                  </td>
                  <!--{{/dn}}-->
              </tr>
              </tbody>
          </table>
          </div>

        </div>
    </div>
</div>
