{{>USR_WorkerHeader}}
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center">
            <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100"/>
            <span class="name mt-3">{{user.name}}</span>
            <br>
            <span class="idd">{{user.email}}</span>
            <a class=" d-flex mt-2" href="/workerEditProfile">

                <input class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="submit"
                       value="Edit Profile">
            </a>
            <div class=" px-2 rounded mt-4 date "><span class="join">Joined May,2021</span>
            </div>
        </div>
    </div>
</div>

{{>USR_WorkerFooter}}