{{>USR_AdminHeader}}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4     col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                               Subs Earnings</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">$ {{earns}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                               Number of Clients</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{Nclient}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                               Active Diets</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{activeDiets}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-12 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview Per Month</h6>

                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-12 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">KPI Definitions</h6>
                                </div>
                                <div class="card-body">
                                    <h1 style="color: #008080;">KPI - Key Performance Indicators</h1>
                                    <p>Key Performance Indicators (KPIs) are metrics used to measure an organization's performance and success in relation to its goals and objectives. These indicators are essential for decision-making and tracking progress.</p>
                                    <p>Some common examples of KPIs include:</p>
                                    <ul>
                                        <li style="color: #800080;">Conversion rate</li>
                                        <li>Cost per acquisition</li>
                                        <li style="color: #800080;">Customer response time</li>
                                        <li>Return on investment (ROI)</li>
                                        <li style="color: #800080;">Cart abandonment rate</li>
                                    </ul>
                                    <p>KPIs should be specific, measurable, achievable, relevant, and timely (SMART) to be effective. Additionally, they should be regularly monitored to identify areas for improvement and take corrective actions.</p>
                                    <p>In conclusion, KPIs are critical for evaluating an organization's performance and ensuring its long-term success. By selecting and measuring the right indicators, companies can identify opportunities for improvement and make informed decisions to achieve their goals.</p>

                                </div>
                            </div>



                        </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
{{>USR_AdminFooter}}
<script src="js/vendor/jquery/jquery.min.js"></script>
<script src="js/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


<!-- Core plugin JavaScript-->
<script src="js/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="js/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script>var monthdate={{registeredUsers}}</script>
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>
<script src="js/demo/chart-bar-demo.js"></script>

</body>

</html>