{{>USR_WorkerHeader}}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Content Row -->
    <div class="col-12 ">

        <div id="demo">
            <h1>View Recipe</h1>
            <div class="table-responsive-vertical shadow p-4">
                <form action="/recipePDF/downloadRecepy" method="post">
                <!-- Table starts here -->
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Ingredients</th>
                        <th>Description</th>
                        <th>kindOfRecepy</th>
                        <th>PDF</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#recepy}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{ingredients}}</td>
                        <td>{{description}}</td>
                        <td>{{kindOfRecepy}}</td>
                        <td><input type="checkbox" name="id" value="{{id}}"></td>
                    </tr>
                    {{/recepy}}
                    </tbody>
                </table>
                    <div class="row" style="justify-content:center; text-align: center;">
                        <input class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="submit"
                               value="Download PDF">
                    </div>
                </form>
                <div>
                    <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="button" id="loadMore">
                        Load More
                        <i class="" id="spinner"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
<!-- End of Main Content -->

{{>USR_WorkerFooter}}
<script src="js/vendor/jquery/jquery.min.js"></script>
<script src="js/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
 var contPage = 1;
    $( "#loadMore" ).click(function() {
        $.ajax({
            url: "/workerRecepiesTable/page/" + contPage,
            method: "get",
            beforeSend: ()=>{
                $("#spinner").addClass("fd-none d-sm-inline-block btn btn-sm btn-primary shadow-sm");
            }
        }).done(function (answer) {
            $("tr").last().after(answer);
            contPage += 1;
            $("#spinner").removeClass("fd-none d-sm-inline-block btn btn-sm btn-primary shadow-sm");
            if(contPage === {{last}}){
                $("#loadMore").off("click");
                $("#loadMore").remove();
            }
        });
    });
</script>

<!-- Core plugin JavaScript-->
<script src="js/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="js/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>
<script src="js/demo/chart-bar-demo.js"></script>

</body>
</html>