{{>USR_AdminHeader}}
<!-- Page Heading -->


<!-- Content Row -->
<div class="row">

  <div class="col-xl-12 col-lg-5">

    <!-- Area Chart -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Add Worker</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-xl-6 col-lg-5" style="float:'left'">
            <form method="post" action="/addWorker" enctype="multipart/form-data">
              <div class="row">
                <div class="col">
                  <div class="col">
                    <span style="font-weight:600;">Name:</span>
                    <br>
                    <br>
                    <input type="text" id='workerName' name="workerName"/>
                    <br>
                    <br>
                  </div>
                  <div class="col">
                    <span style="font-weight:600;">Apellido:</span>
                    <br>
                    <br>
                    <input type="text" id='workerLastname' name="workerLastname"/>
                    <br>
                    <br>
                  </div>
                  <div class="col">
                  <span style="font-weight:400;">Description:</span>
                    <br>
                    <br>
                    <input type="text" name="workerDescription" required/>
                    <br>
                    <br>
                    </div>
                  <div class="col">
                    <span style="font-weight:400;">Email:</span>
                    <br>
                    <br>
                    <input type="text" name="workerEmail" required/>
                    <br>
                    <br>
                  </div>
                  <div class="col">
                    <span style="font-weight:600;"><abbr
                                                            title="                     At least 1 Uppercase
              At least 1 Lowercase
              At least 1 Number
              At least 1 Symbol, symbol allowed --> !@#$%^&*_=+-
              Min 8 chars and Max 12 chars"> Password: </abbr></span>
                    <br>
                    <br>
                    <input type="password" id='workerPassword' name="workerPassword"
                           pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$"/>
                    <br>
                    <br>
                  </div>
                </div>
              </div>
              <div class="row" style="justify-content:left; text-align:left;">
                <input class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="submit"
                       value="Save">
                <input type="hidden" name="_csrf" value="{{token}}"/>
              </div>
            </form>
      </div>
      <hr>
    </div>
  </div>
</div>
</div>
</div>
<!-- /.container-fluid -->

<!-- End of Main Content -->


{{>USR_AdminFooter}}

  <script src="js/vendor/jquery/jquery.min.js"></script>
  <script src="js/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="js/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->

  <!-- Page level custom scripts -->


  </body>

  </html>