{{>USR_AdminHeader}}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Content Row -->
    <div class="row">
        <form action="/deleteClient" method="post">
        <div id="demo">
            <h1>Client Table</h1>
            <!-- Table starts here -->
            <table id="table" class="table table-hover table-mc-light-blue">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                {{#list}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{surname}}</td>
                    <td>{{email}}</td>
                    <td><input type="checkbox" name="id" value="{{id}}"></td>
                </tr>
                {{/list}}
                </tbody>
            </table>
            <div class="row" style="justify-content:center; text-align: center;">
                <input class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="submit"
                       value="Delete">
            </div>
            <div>
            <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="button" id="loadMore">
                Load More
                <i class="" id="spinner"></i>
            </button>
            </div>
        </div>
        </form>
    </div>

<!-- /.container-fluid -->
</div>
<!-- End of Main Content -->

{{>USR_AdminFooter}}