{{>USR_AdminHeader}}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Content Row -->
    <div class="row">

        <div id="demo">
            <h1>Tabla Clientes</h1>

            <div class="table-responsive-vertical shadow-z-1">
                <!-- Table starts here -->
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Link</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td data-title="ID">1</td>
                        <td data-title="Name">Material Design Color Palette</td>
                        <td data-title="Link">
                            <a href="https://github.com/zavoloklom/material-design-color-palette"
                               target="_blank">GitHub</a>
                        </td>
                        <td data-title="Status">Completed</td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" >
                                Check
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td data-title="ID">2</td>
                        <td data-title="Name">Material Design Iconic Font</td>
                        <td data-title="Link">
                            <a href="https://codepen.io/zavoloklom/pen/uqCsB" target="_blank">Codepen</a>
                            <a href="https://github.com/zavoloklom/material-design-iconic-font"
                               target="_blank">GitHub</a>
                        </td>
                        <td data-title="Status">Completed</td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" >
                                Check
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td data-title="ID">3</td>
                        <td data-title="Name">Material Design Hierarchical Display</td>
                        <td data-title="Link">
                            <a href="https://codepen.io/zavoloklom/pen/eNaEBM" target="_blank">Codepen</a>
                            <a href="https://github.com/zavoloklom/material-design-hierarchical-display"
                               target="_blank">GitHub</a>
                        </td>
                        <td data-title="Status">Completed</td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" >
                                Check
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td data-title="ID">4</td>
                        <td data-title="Name">Material Design Sidebar</td>
                        <td data-title="Link"><a href="https://codepen.io/zavoloklom/pen/dIgco"
                                                 target="_blank">Codepen</a></td>
                        <td data-title="Status">Completed</td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" >

                                Check

                                </label>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td data-title="ID">5</td>
                        <td data-title="Name">Material Design Tiles</td>
                        <td data-title="Link">
                            <a href="https://codepen.io/zavoloklom/pen/wtApI" target="_blank">Codepen</a>
                        </td>
                        <td data-title="Status">Completed</td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" >

                                Check

                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td data-title="ID">6</td>
                        <td data-title="Name">Material Design Typography</td>
                        <td data-title="Link">
                            <a href="https://codepen.io/zavoloklom/pen/IkaFL" target="_blank">Codepen</a>
                            <a href="https://github.com/zavoloklom/material-design-typography"
                               target="_blank">GitHub</a>
                        </td>
                        <td data-title="Status">Completed</td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" >

                                Check

                                </label>
                            </div>
                        </td>

                    </tr>

                    </tbody>
                </table>
                <div class="row" style="justify-content:center; text-align: center;">
                    <input class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="submit"
                           value="Delete">
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{{>USR_AdminFooter}}