{{>USR_ClientHeader}}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800" xmlns="http://www.w3.org/1999/html"/>sergrt</p>

<!-- Content Row -->
<div class="row">

  <div class="col-xl-12 col-lg-5">

    <!-- Area Chart -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">"NAME" Profile</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-xl-6 col-lg-5" style="float:'left'">
            <form method="get" action="/dataUpdate">
              <span style="font-weight:400;">Name:</span>
              <br>
              <br>
              <input type="text" name="clientName"/>
              <br>
              <br>
              <span style="font-weight:400;">Apellido:</span>
              <br>
              <br>
              <input type="text" name="clientName"/>
              <br>
              <br>
              <span style="font-weight:400;">Correo Electronico:</span>
              <br>
              <br>
              <input type="text" name="clientName"/>
          </div>
          <div class="col-xl-6 col-lg-5" style="float:'left'">
            <img src='images/SmartWay.png' style="width:300px; height:300px;border-radius:150px;border:10px solid #666;"/>
            <br>
            <input type='file' name='clientImage' accept=".jpg, .jpeg"/>

          </div>
        </div>
        <br>
        <div class="row" style="justify-content:left; text-align:left;">
          <input class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="submit"
                 value="Save">
        </div>
        </form>

      </div>
      <hr>
    </div>
  </div>
</div>
</div>
<!-- /.container-fluid -->

<!-- End of Main Content -->


{{>USR_ClientFooter}}