{{>USR_AdminHeader}}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Content Row -->
    <div class="col-12">

        <div id="demo">
            <h1>Worker Table</h1>
            <div class="table-responsive-vertical shadow p-4">
                <form action="/deleteWorker" method="post">
                    <!-- Table starts here -->
                    <table class="table table-hover table-mc-light-blue" id="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#listWorker}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{surname}}</td>
                            <td><a href="/tablesClient/{{id}}" style="text-decoration:none">{{email}}</a></td>
                            <td><input name="id" type="checkbox" value="{{id}}"></td>
                        </tr>
                        {{/listWorker}}
                        </tbody>
                    </table>
                    <div class="row" style="justify-content:center; text-align: center;">
                        <input class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="submit"
                               value="Delete">
                        <input type="hidden" name="_csrf" value="{{token}}"/>
                    </div>
                </form>
                <div class="row">
                    <div class="col-6">
                        <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="loadMore"
                                type="button">
                            Load More
                            <i class="" id="spinner"></i>
                        </button>
                    </div>

                    <div class="col-6">
                        <a class="nav-link collapsed" href="/addWorker" style="text-align:right">
                            <input class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="submit"
                                   value="Add Worker">
                            <input type="hidden" name="_csrf" value="{{token}}"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <!-- Nav Item - Utilities Collapse Menu -->
</div>
<!-- End of Main Content -->

{{>USR_AdminFooter}}

<script src="js/vendor/jquery/jquery.min.js"></script>
<script src="js/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
 var contPage = 1;
    $( "#loadMore" ).click(function() {
        $.ajax({
            url: "/workerTable/page/" + contPage,
            method: "get",
            beforeSend: ()=>{
                $("#spinner").addClass("fd-none d-sm-inline-block btn btn-sm btn-primary shadow-sm");
            }
        }).done(function (answer) {
            $("tr").last().after(answer);
            contPage += 1;
            $("#spinner").removeClass("fd-none d-sm-inline-block btn btn-sm btn-primary shadow-sm   ");
            if(contPage === {{lastWorker}}){
                $("#loadMore").off("click");
                $("#loadMore").remove();
            }
        });
    });

</script>

<!-- Core plugin JavaScript-->
<script src="js/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="js/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>
<script src="js/demo/chart-bar-demo.js"></script>

</body>

</html>