{{>USR_WorkerHeader}}
<!-- ***** Header Area End ***** -->
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4" style="overflow-x: scroll;">
                <div class="col-lg-12 " style="padding: 40px;">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800" >New Diet</h1>
                    </div>
                    <!-- tabla-->
                    <form method="post" action="/workerUploadDiets" style=" margin-top: 40px; margin-bottom: 60px; text-align: justify;">
                        <div class="col-12" style="padding: 20px;">
                            <div class="row">
                                <label for="nombre" style="font-size: 18px;"> Diet Name </label>
                            </div>
                            <div class="row">
                                <input id="nombre" name="nombre" type="text" style="border-color: #5AF499;"><br>
                            </div>
                        </div>
                        <datalist id="breakfast">
                            <select>
                                {{#recepyBreakfast}}
                                <option value="{{name}}">{{name}}</option>
                                {{/recepyBreakfast}}
                            </select>
                        </datalist>
                        <datalist id="lunch">
                            <select>
                                {{#recepyLunch}}
                                <option value="{{name}}">{{name}}</option>
                                {{/recepyLunch}}
                            </select>
                        </datalist>
                        <datalist id="dinner">
                            <select>
                                {{#recepyDinner}}
                                <option value="{{name}}">{{name}}</option>
                                {{/recepyDinner}}
                            </select>
                        </datalist>
                        <div class="col-12" style="padding: 20px;">
                            <div class="row">
                                <label for="nombre" style="font-size: 18px;"> Type of recipe </label>
                            </div>
                            <div class = "col-lg-5">
                                <input type="radio" id="Maintenence" name="type_diet" value="Maintenence">
                                <label for="Maintenence">Maintenence</label><br>
                                <input type="radio" id="Bulking" name="type_diet" value="Bulking">
                                <label for="Bulking">Bulking</label><br>
                                <input type="radio" id="Definition" name="type_diet" value="Definition">
                                <label for="Definition">Definition</label><br>
                                <input type="radio" id="Special" name="type_diet" value="Special">
                                <label for="Special">Special</label>
                            </div>
                        </div>

                        <table style="margin-bottom: 40px; table-layout: auto; width: 100%; border: 3px solid #5AF499; overflow-x: auto;">
                            <tbody>
                            <tr>
                                <td>Time</td>
                                <td>Monday</td>
                                <td>Tuesday</td>
                                <td>Wednesday</td>
                                <td>Thursday</td>
                                <td>Friday</td>
                                <td>Saturday</td>
                                <td>Sunday</td>
                            </tr>
                            <tr>
                                <td class="day-time">Breakfast</td>
                                <td>
                                    <input list="breakfast" name="brmon" id="brmon">
                                </td>
                                <td>
                                    <input list="breakfast" name="brtue" id="brtue">
                                </td>
                                <td>
                                    <input list="breakfast" name="brwed" id="brwed">
                                </td>
                                <td>
                                    <input list="breakfast" name="brthr" id="brthr">
                                </td>
                                <td>
                                    <input list="breakfast" name="brfri" id="brfri">
                                </td>
                                <td>
                                    <input list="breakfast" name="brsat" id="brsat">
                                </td>
                                <td>
                                    <input list="breakfast" name="brsun" id="brsun">
                                </td>
                            </tr>
                            <tr>
                                <td class="day-time">Lunch</td>
                                <td>
                                    <input list="lunch" name="lunmon" id="lunmon">
                                </td>
                                <td>
                                    <input list="lunch" name="luntue" id="luntue">
                                </td>
                                <td>
                                    <input list="lunch" name="lunwed" id="lunwed">
                                </td>
                                <td>
                                    <input list="lunch" name="lunthr" id="lunthr">
                                </td>
                                <td>
                                    <input list="lunch" name="lunfri" id="lunfri">
                                </td>
                                <td>
                                    <input list="lunch" name="lunsat" id="lunsat">
                                </td>
                                <td>
                                    <input list="lunch" name="lunsun" id="lunsun">
                                </td>
                            </tr>
                            <tr>
                                <td class="day-time">Dinner</td>
                                <td>
                                    <input list="dinner" name="dinmon" id="dinmon">
                                </td>
                                <td>
                                    <input list="dinner" name="dintue" id="dintue">
                                </td>
                                <td>
                                    <input list="dinner" name="dinwed" id="dinwed">
                                </td>
                                <td>
                                    <input list="dinner" name="dinthr" id="dinthr">
                                </td>
                                <td>
                                    <input list="dinner" name="dinfri" id="dinfri">
                                </td>
                                <td>
                                    <input list="dinner" name="dinsat" id="dinsat">
                                </td>
                                <td>
                                    <input list="dinner" name="dinsun" id="dinsun">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="row" style="justify-content:center; text-align: center;">
                            <input class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="submit"
                                   value="Submit">
                            <input type="hidden" name="_csrf" value="{{token}}"/>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- Footer -->
{{>USR_WorkerFooter}}