{{>USR_ClientHeader}}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Welcome!</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary" >Profile Settings</h6>
                </div>

                <div class="col-xl-12 col-lg-5">

                    <!-- Area Chart -->
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-6 col-lg-5">
                                    <form method="post" action="/clientEditProfile" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-10">
                                                <div class="col">
                                                    <span style="font-weight:600;">Name:</span> {{name}}
                                                    <br>
                                                    <br>
                                                    <input type="text" id='clientName' name="clientName"/>
                                                    <br>
                                                    <br>
                                                </div>
                                                <div class="col">
                                                    <span style="font-weight:600;">Apellido:</span> {{surname}}
                                                    <br>
                                                    <br>
                                                    <input type="text" id='clientSurname' name="clientSurname"/>
                                                    <br>
                                                    <br>
                                                </div>
                                                <div class="col">
                                                    <span style="font-weight:600;"><abbr
                                                            title="                     At least 1 Uppercase
              At least 1 Lowercase
              At least 1 Number
              At least 1 Symbol, symbol allowed --> !@#$%^&*_=+-
              Min 8 chars and Max 12 chars"> Password: </abbr></span>
                                                    <br>
                                                    <br>
                                                    <input type="password" id='clientPassword' name="clientPassword"
                                                           pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$"/>
                                                    <br>
                                                    <br>
                                                </div>
                                                <div class="col">
                                                    <span style="font-weight:600;"><abbr
                                                            title="                     At least 1 Uppercase
              At least 1 Lowercase
              At least 1 Number
              At least 1 Symbol, symbol allowed --> !@#$%^&*_=+-
              Min 8 chars and Max 12 chars"> Repeat Password: </abbr></span>
                                                    <br>
                                                    <br>
                                                    <input type="password" id='clientPasswordRepeat' name="clientPasswordRepeat"
                                                           pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$"/>
                                                    <br>
                                                    <br>
                                                    <br>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <img src='/worker/{{id}}/image' style="width:280px;margin-bottom: 15px; height:280px;border-radius:90px;border:10px solid #666;"/>
                                                <br>
                                                <input type='file' id='clientImage' name='clientImage' accept=".jpg, .jpeg"/>
                                                <br>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="row" style="justify-content:left; text-align:left;">
                                            <input class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="submit"
                                                   value="Save">
                                            <input type="hidden" name="_csrf" value="{{token}}"/>
                                        </div>
                                    </form>
                            </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
</div>

<!-- /.container-fluid -->

<!-- End of Main Content -->


{{>USR_ClientFooter}}
    <script src="js/vendor/jquery/jquery.min.js"></script>
    <script src="js/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="js/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="js/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo_client.js"></script>
    <script src="js/demo/chart-pie-demo_client.js"></script>
    <script src="js/demo/chart-bar-demo_client.js"></script>

    </body>

    </html>