{{>USR_WorkerHeader}}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Content Row -->
    <div class="col-12">

        <div id="demo">
            <h1>View Diet</h1>

            <div class="table-responsive-vertical shadow p-4">
                <!-- Table starts here -->
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Week</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#dieta}}
                        {{#entrySet}}
                        <tr>
                            <td>{{key}}</td>
                            <td>{{value}}</td>
                        </tr>
                        {{/entrySet}}
                    {{/dieta}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

<!-- End of Main Content -->
{{>USR_WorkerFooter}}