{{>USR_WorkerHeader}}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Content Row -->
    <div class="col-12">

        <div id="demo">
            <h1>View Diet</h1>

            <div class="table-responsive-vertical shadow p-4">
                <form action="/PDF/downloadDiet" method="post">
                <!-- Table starts here -->
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Week</th>
                        <th>PDF</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#dieta}}
                        {{#entrySet}}
                    <tr>
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                        <td><input type="checkbox" name="key" value="{{key}}"></td>
                    </tr>
                        {{/entrySet}}

                    {{/dieta}}
                    </tbody>
                </table>
                    <input type="checkbox" name="key" value="23">
                    <div class="row" style="justify-content:center; text-align: center;">
                        <input class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="submit"
                               value="Download PDF">
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

<!-- End of Main Content -->
{{>USR_WorkerFooter}}
<script src="js/vendor/jquery/jquery.min.js"></script>
<script src="js/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


<!-- Core plugin JavaScript-->
<script src="js/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="js/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>
<script src="js/demo/chart-bar-demo.js"></script>

</body>
</html>