    {{>USR_ClientHeader}}
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Welcome!</h1>
    </div>
  <!-- Content Row -->
  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary" >Last Form</h6>
        </div>
        <section class="section" id="questionnaire">

                <div class="col-12">
                    <form action="/clientFormUpdate" method="post"
                          style=" margin-top: 70px; margin-bottom: 80px;font-size: 18px;font-weight: 800;color: #232d39;letter-spacing: 1.3px;">

                        <!--Question-->
                        <div class="row" style="margin-bottom: 40px;">
                            <div class="col-1 mt-5" style="color:#5AF499; text-align:center;">
                                <em>1.</em>
                            </div>
                            <div class="col-11 mt-5">
                                <div class="row" aria-required="true">
                                    <label> What is your genetic sex (the one asigned at birth)?</label>
                                </div>
                                <div class="row">
                                    <!--select name="gensex" id="gensex" style="background-color:#5AF499;">
                                        <option value="fem">Female</option>
                                        <option value="masc">Male</option>
                                        <option value="inter">Intersex</option>
                                    </select--> <br>
                                    <div class="col-lg-5">
                                        <input id="fem" name="gensex" type="radio" value="fem">
                                        <label for="fem">Female</label><br>
                                        <input id="male" name="gensex" type="radio" value="male">
                                        <label for="male">Male</label><br>
                                        <input id="inters" name="gensex" type="radio" value="inters">
                                        <label for="inters">Intersex</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Question-->
                        <div class="row" style="margin-bottom: 40px;">
                            <div class="col-1" style="color:#5AF499; text-align:center;">
                                <em>2.</em>
                            </div>
                            <div class="col-11">
                                <div class="row"aria-required="true">
                                    <label> What is your age?</label>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5">
                                        <input id="1825" name="age" type="radio" value="1825">
                                        <label for="1825">18-25</label><br>
                                        <input id="2635" name="age" type="radio" value="2635">
                                        <label for="2635">26-35</label><br>
                                        <input id="3650" name="age" type="radio" value="3650">
                                        <label for="3650">36-50</label><br>
                                        <input id="51" name="age" type="radio" value="51">
                                        <label for="51">51+</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Question-->
                        <div class="row" style="margin-bottom: 40px;">
                            <div class="col-1" style="color:#5AF499; text-align:center;">
                                <em>3.</em>
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <label>How often do you make physical activity?</label>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5" aria-required="true">
                                        <input id="low" name="phactivity" type="radio" value="low" >
                                        <label for="low">Three times a month or less</label><br>
                                        <input id="medium" name="phactivity" type="radio" value="medium">
                                        <label for="medium">One or two times a week</label><br>
                                        <input id="high" name="phactivity" type="radio" value="high">
                                        <label for="inters">More than three times a week</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Question-->
                        <div class="row" style="margin-bottom: 40px;">
                            <div class="col-1" style="color:#5AF499; text-align:center;">
                                <em>4.</em>
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <label for="weight" > How much do you weight? (kg)</label>
                                </div>
                                <div class="row">
                                    <input type="number" id="weight" name="weight" style="border-color: #5AF499;" required><br>
                                </div>
                            </div>
                        </div>

                        <!--Question-->
                        <div class="row" style="margin-bottom: 40px;">
                            <div class="col-1" style="color:#5AF499; text-align:center;">
                                <em>5.</em>
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <label for="height" > How tall are you? (cm)</label>
                                </div>
                                <div class="row">
                                    <input type="number" id="height" name="height" style="border-color: #5AF499;" required><br>
                                </div>
                            </div>
                        </div>

                        <!--Question-->
                        <div class="row" style="margin-bottom: 40px;">
                            <div class="col-1" style="color:#5AF499; text-align:center;">
                                <em>6.</em>
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <label> Why are you interested in our services?</label>
                                </div>
                                <div class="row">
                                    <!--select name="interest" id="interest" style="background-color:#5AF499;">
                                        <option value="sports">I am starting with sports and I need advice</option>
                                        <option value="diet">I would like to change my body</option>
                                        <option value="health">I feel like I could eat better</option>
                                    </select> <br-->

                                    <div class="col" aria-required="true">
                                        <input id="sports" name="interest" type="radio" value="sports" required>
                                        <label for="sports">I am starting with sports and I need advice</label><br>
                                        <input id="diet" name="interest" type="radio" value="diet">
                                        <label for="diet">I would like to change my body</label><br>
                                        <input id="health" name="interest" type="radio" value="health">
                                        <label for="health">I feel like I could eat better</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Question-->
                        <div class="row" style="margin-bottom: 40px;">
                            <div class="col-1" style="color:#5AF499; text-align:center;">
                                <em>7.</em>
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <label> What is the purpose for which you start this journey?</label>
                                </div>
                                <div class="row">
                                    <!--select name="aspiration" id="aspiration" style="background-color:#5AF499;">
                                        <option value="sports">Weight loss</option>
                                        <option value="diet">Weight gain </option>
                                        <option value="health">Healthy eating</option>
                                    </select> <br-->

                                    <div class="col-lg-5" aria-required="true">
                                        <input id="wloss" name="aspiration" type="radio" value="wloss" required>
                                        <label for="wloss">Weight loss</label><br>
                                        <input id="wgain" name="aspiration" type="radio" value="wgain">
                                        <label for="wgain">Weight gain</label><br>
                                        <input id="eatbetter" name="aspiration" type="radio" value="eatbetter">
                                        <label for="eatbetter">Healthy eating</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row pb-5" style="justify-content:center; text-align: center;">
                            <input style="display: inline-block;font-size: 15px;padding: 12px 20px;background-color: #5AF499;color: #fff;border-color: #fff;text-align: center;font-weight: 400;text-transform: uppercase;transition: all .3s;" type="submit" value="Submit">
                            <input type="hidden" name="_csrf" value="{{token}}"/>
                        </div>

                    </form>
        </section>
      </div>
    </div>
  </div>
</div>
{{>USR_ClientFooter}}