{{>USR_WorkerHeader}}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="/workerUploadRecipes" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Upload recipe</a>
        <a href="/workerUploadDiets" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> New Diet</a>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Clients</h6>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <table id="table" class="table table-hover table-mc-light-blue">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Link</th>
                                <th>Type of Diet</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td data-title="ID">1</td>
                                <td data-title="Name">Material Design Color Palette</td>
                                <td data-title="Link">
                                    <a href="https://github.com/zavoloklom/material-design-color-palette"
                                       target="_blank">GitHub</a>
                                </td>
                                <td data-title="Status">Completed</td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" >
                                        Check
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td data-title="ID">2</td>
                                <td data-title="Name">Material Design Iconic Font</td>
                                <td data-title="Link">
                                    <a href="https://codepen.io/zavoloklom/pen/uqCsB" target="_blank">Codepen</a>
                                    <a href="https://github.com/zavoloklom/material-design-iconic-font"
                                       target="_blank">GitHub</a>
                                </td>
                                <td data-title="Status">Completed</td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" >
                                        Check
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td data-title="ID">3</td>
                                <td data-title="Name">Material Design Hierarchical Display</td>
                                <td data-title="Link">
                                    <a href="https://codepen.io/zavoloklom/pen/eNaEBM" target="_blank">Codepen</a>
                                    <a href="https://github.com/zavoloklom/material-design-hierarchical-display"
                                       target="_blank">GitHub</a>
                                </td>
                                <td data-title="Status">Completed</td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" >
                                        Check
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td data-title="ID">4</td>
                                <td data-title="Name">Material Design Sidebar</td>
                                <td data-title="Link"><a href="https://codepen.io/zavoloklom/pen/dIgco"
                                                         target="_blank">Codepen</a></td>
                                <td data-title="Status">Completed</td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" >

                                        Check

                                        </label>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td data-title="ID">5</td>
                                <td data-title="Name">Material Design Tiles</td>
                                <td data-title="Link">
                                    <a href="https://codepen.io/zavoloklom/pen/wtApI" target="_blank">Codepen</a>
                                </td>
                                <td data-title="Status">Completed</td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" >

                                        Check

                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td data-title="ID">6</td>
                                <td data-title="Name">Material Design Typography</td>
                                <td data-title="Link">
                                    <a href="https://codepen.io/zavoloklom/pen/IkaFL" target="_blank">Codepen</a>
                                    <a href="https://github.com/zavoloklom/material-design-typography"
                                       target="_blank">GitHub</a>
                                </td>
                                <td data-title="Status">Completed</td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" >

                                        Check

                                        </label>
                                    </div>
                                </td>

                            </tr>

                            </tbody>
                        </table>
                        <button>Delete</button>


                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
<!-- End of Main Content -->

<!-- Footer -->
{{>USR_AdminFooter}}