{{>USR_WorkerHeader}}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Content Row -->
    <div class="row">

        <div id="demo">
            <h1>View Recipe</h1>

            <div class="table-responsive-vertical shadow-z-1">
                <!-- Table starts here -->
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th> Name</th>
                        <th>Link PDF</th>
                        <th>Upload Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td data-title="ID">1</td>
                        <td data-title="Name">Merluza</td>
                        <td data-title="Link PDF">
                            <a href="https://github.com/zavoloklom/material-design-color-palette"
                               target="_blank">PDF</a>
                        </td>
                        <td data-title="Upload Date">01/01/2022</td>
                    </tr>
                    <tr>
                        <td data-title="ID">2</td>
                        <td data-title="Name">Costillas</td>
                        <td data-title="Link PDF">
                            <a href="https://github.com/zavoloklom/material-design-color-palette"
                               target="_blank">PDF</a>
                        </td>
                        <td data-title="Upload Date">02/02/2022</td>
                    </tr>
                    <tr>
                        <td data-title="ID">3</td>
                        <td data-title="Name">Tortilla</td>
                        <td data-title="Link PDF">
                            <a href="https://github.com/zavoloklom/material-design-color-palette"
                               target="_blank">PDF</a>
                        </td>
                        <td data-title="Upload Date">03/03/2022</td>
                    </tr>
                    <tr>
                        <td data-title="ID">4</td>
                        <td data-title="Name">Material Design Sidebar</td>
                        <td data-title="Link"><a href="https://codepen.io/zavoloklom/pen/dIgco"
                                                 target="_blank">Codepen</a></td>
                        <td data-title="Status">Completed</td>

                    <tr>
                        <td data-title="ID">5</td>
                        <td data-title="Name">Material Design Tiles</td>
                        <td data-title="Link">
                            <a href="https://codepen.io/zavoloklom/pen/wtApI" target="_blank">Codepen</a>
                        </td>
                        <td data-title="Status">Completed</td>

                    <tr>
                        <td data-title="ID">6</td>
                        <td data-title="Name">Material Design Typography</td>
                        <td data-title="Link">
                            <a href="https://codepen.io/zavoloklom/pen/IkaFL" target="_blank">Codepen</a>
                            <a href="https://github.com/zavoloklom/material-design-typography"
                               target="_blank">GitHub</a>
                        </td>
                        <td data-title="Status">Completed</td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{{>USR_AdminFooter}}