{{>USR_AdminHeader}}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Content Row -->
  <div class="row">
      <form action="/deleteClient" method="post">
        <div id="demo">
          <h1>Worker Table</h1>
          <!-- Table starts here -->
          <table id="table" class="table table-hover table-mc-light-blue">
            <thead>
            <tr>
              <th>Name</th>
              <th>Surname</th>
              <th>Email</th>
            </tr>
            </thead>
            <tbody>
            {{#workers}}
            <tr>
              <td>{{name}}</td>
              <td>{{surname}}</td>
              <td>{{email}}</td>
              <td><input type="checkbox" name="id"></td>
            </tr>
            {{/workers}}
            </tbody>
          </table>
          <div class="row" style="justify-content:center; text-align: center;">
            <input class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="submit"
                   value="Delete">
          </div>
        </div>
      </form>
</div>
  </div>
<!-- /.container-fluid -->
<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
  <a class="nav-link collapsed" href="/addWorker" style="text-align:center">
    <div class="row" style="justify-content:center; text-align: center;">
      <input class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="submit"
             value="Add Worker">
    </div>
  </a>
</li>
</div>
<!-- End of Main Content -->

{{>USR_AdminFooter}}