{{>USR_ClientHeader}}
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Welcome!</h1>
    </div>
  <!-- Content Row -->
  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary" >Last Form</h6>
        </div>
        <section class="section" id="questionnaire">

            <div class="row" style="text-align:left;">
              <form style=" margin-top: 100px; margin-bottom: 80px;font-size: 18px;font-weight: 800;color: #232d39;letter-spacing: 1.3px;">
                <!--Question-->
                <div class="row" style="margin-bottom: 40px;">
                    <div class="col-3" style="color:#5AF499; text-align:left;">
                    </div>
                      <label for="gensex" style="text-align:left;"> GenSex</label>
                    </div>
                    <div class="row">
                      <a name="gensex" id="gensex" style="background-color:#5AF499;"></a> <br>
                    </div>

                <!--Question-->
                <div class="row" style="margin-bottom: 40px;">
                    <div class="col-3" style="color:#5AF499; text-align:left;">
                    </div>
                      <label for="age" style="text-align:left;">Your Age</label>
                    </div>
                    <div class="row">
                      <a name="age" id="age" style="background-color:#5AF499;"></a> <br>
                    </div>

                <!--Question-->
                <div class="row" style="margin-bottom: 40px;">
                    <div class="col" style="color:#5AF499; text-align:center;">
                    </div>
                      <label for="phactivity" style="text-align:left;">Physical activity</label>
                    </div>
                    <div class="row">
                      <a name="phactivity" id="phactivity" style="background-color:#5AF499;">__________</a> <br>
                    </div>

                <!--Question-->
                <div class="row" style="margin-bottom: 40px;">
                    <div class="col-3" style="color:#5AF499; text-align:left;">
                    </div>
                      <label for="weight" style="text-align:left;"> Weight</label>
                    </div>
                    <div class="row">
                      <a type="number" id="weight" name="weight"></a><br>
                    </div>


                <!--Question-->
                <div class="row" style="margin-bottom: 40px;">
                    <div class="col-3" style="color:#5AF499; text-align:left;">
                    </div>
                      <label for="height" style="text-align:left;">Height</label>
                    </div>
                    <div class="row">
                      <a type="number" id="height" name="height"></a><br>
                    </div>

                <!--Question-->
                <div class="row" style="margin-bottom: 40px;">
                    <div class="col-3" style="color:#5AF499; text-align:left;">
                    </div>
                      <label for="interest" style="text-align:left;">Pourpose</label>
                    </div>
                    <div class="row">
                      <a name="interest" id="interest" style="background-color:#5AF499;"></a> <br>
                    </div>

                <!--Question-->
                <div class="row" style="margin-bottom: 40px;">
                    <div class="col-3" style="color:#5AF499; text-align:left;">
                    </div>
                      <label for="aspiration" style="text-align:left;">Type of Diet</label>
                    </div>
                    <div class="row">
                      <a name="aspiration" id="aspiration" style="background-color:#5AF499;"></a> <br>
                    </div>

                <div class="row" style="justify-content:center; text-align: center;">
                  <input type="submit" value="Submit" style="background-color:#5AF499; font-size: 23px;">
                </div>

              </form>

            </div>
        </section>
      </div>
    </div>
  </div>
</div>
{{>USR_ClientFooter}}