{{>USR_WorkerHeader}}
<!-- ***** Header Area End ***** -->
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <div class="col-lg-12 " style="padding: 40px;">
                    <!-- Content Row -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800" style="">New Recipe</h1>
                    </div>

                    <form action="/" method>
                        <div class="row">
                            <div class = "col-lg-6">
                                <!-- Recipe Name -->
                                <div class="row" style="margin-bottom: 40px;">
                                    <div class="col-11">
                                        <div class="row">
                                            <label for="recipe"> Recipe Name </label>
                                        </div>
                                        <div class="row">
                                            <input id="recipe" name="recipe" type="text" style="border-color: #5AF499;"><br>
                                        </div>
                                    </div>
                                </div>
                                <!-- Description textbox -->
                                <div class="row" style="margin-bottom: 40px;">
                                    <div class="col-11">
                                        <div class="row">
                                            <label for="steps"> Description </label>
                                        </div>
                                        <div class="row">
                                    <textarea id="steps" name="steps" rows="4" cols="50" style="border-color: #5AF499; text-align:left;">
                                    </textarea>
                                        </div>
                                    </div>
                                </div>
                                <!-- Image of the recipe -->
                                <div class="row" style="margin-bottom: 40px;">
                                    <div class="col-11">
                                        <div class="row">
                                            <label for="image"> Image of the recipe </label>
                                        </div>
                                        <div class="row">
                                            <input id="image" name="image" type="file"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class = "col-lg-5">
                                <p>Type of recipe</p>
                                <input type="radio" id="breakfast" name="recipetype" value="breakfast">
                                <label for="breakfast">breakfast</label><br>
                                <input type="radio" id="lunch" name="recipetype" value="lunch">
                                <label for="lunch">lunch</label><br>
                                <input type="radio" id="dinner" name="recipetype" value="dinner">
                                <label for="dinner">dinner</label>
                            </div>
                        </div>
                        <!-- Submit botton -->
                        <div class="row" style="justify-content:center; text-align: center;">
                            <input class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="submit"
                                   value="Submit">
                        </div>


                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- Footer -->
{{>USR_AdminFooter}}