{{>USR_AdminHeader}}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800"/>SETTINGS</p>

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-12 col-lg-5">

            <!-- Area Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">"NAME" Profile</h6>
                </div>
                <div class="card-body">
                    AQUI VA EL FORMULARIO DE LOS DATOS PERSONALES DEL CLIENTE


                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
<!-- /.container-fluid -->

<!-- End of Main Content -->
{{>USR_AdminFooter}}