{{>USR_WorkerHeader}}
<!-- ***** Header Area End ***** -->
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Content Row -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">New Recipe</h1>
    </div>

    <!-- Recipe Name -->
    <div class="row" style="margin-bottom: 40px;">
        <div class="col-11">
            <div class="row">
                <label for="recipe" > Recipe Name </label>
            </div>
            <div class="row">
                <input type="text" id="recipe" name="recipe"><br>
            </div>
        </div>
    </div>
    <!-- Ingredients textbox -->
    <div class="row" style="margin-bottom: 40px;">
        <div class="col-11">
            <div class="row">
                <label for="ingredients" > Ingredients </label>
            </div>
            <div class="row">
                <textarea id="ingredients" name="ingredients" rows="4" cols="50">
                </textarea>
            </div>
        </div>
    </div>
    <!-- Steps textbox -->
    <div class="row" style="margin-bottom: 40px;">
        <div class="col-11">
            <div class="row">
                <label for="steps" > Steps to follow </label>
            </div>
            <div class="row">
                <textarea id="steps" name="steps" rows="4" cols="50">
                </textarea>
            </div>
        </div>
    </div>
    <!-- Image of the recipe -->
    <div class="row" style="margin-bottom: 40px;">
        <div class="col-11">
            <div class="row">
                <label for="image"> Image of the recipe </label>
            </div>
            <div class="row">
                <input type="file" id="image" name="image" />
            </div>
        </div>
    </div>
    <!-- Submit botton -->
    <div class="row" style="justify-content:center; text-align: center;">
        <input type="submit" value="Submit" style="background-color:#5AF499; font-size: 23px;">
    </div>
</div>