{{>USR_ClientHeader}}

<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
  <div class="card p-4">
    <div class=" image d-flex flex-column justify-content-center align-items-center">
      <img src="worker/{{id}}/image" height="100" width="100"/>
      <span class="name mt-3">{{name}}</span>
      <br>
      <span class="idd">{{email}}</span>
      <a class=" d-flex mt-2" href="/clientEditProfile">

          <input class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="submit"
                 value="Edit Profile">
      </a>
      <div class=" px-2 rounded mt-4 date "><span class="join">Joined May,2021</span>
      </div>
    </div>
  </div>
</div>

{{>USR_ClientFooter}}
<script src="js/vendor/jquery/jquery.min.js"></script>
<script src="js/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="js/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="js/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo_client.js"></script>
<script src="js/demo/chart-pie-demo_client.js"></script>
<script src="js/demo/chart-bar-demo_client.js"></script>

</body>

</html>