{{>USR_ClientHeader}}
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Welcome!</h1>
  </div>

  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary" >Posible Recipes</h6>
        </div>
        <form action="/PDF/downloadRecepy" method="post">
        <!--Tabla de recetas disponibles
        <ul>
          {{#recipes}}
          <li>{{.}}</li>
          {{/recipes}}
        </ul>
        <p>Recipes in table:</p>
        <table>
          {{#recipes}}
          <tr>
            <td>{{-index}}</td>
            <td>{{.}}</td>
          </tr>
          {{/recipes}}
        </table>-->
          <table id="table" class="table table-hover table-mc-light-blue">
            <thead>
            <tr>
              <th>Name</th>
              <th>Ingredients</th>
              <th>Description</th>
              <th>kindOfRecepy</th>
              <th>PDF</th>
            </tr>
            </thead>
            <tbody>
            {{#recepies}}
            <tr>
              <td>{{name}}</td>
              <td>{{ingredients}}</td>
              <td>{{description}}</td>
              <td>{{kindOfRecepy}}</td>
              <td><input type="checkbox" name="id" value="{{id}}"></td>
            </tr>
            {{/recepies}}
            </tbody>
          </table>
          <div class="row" style="justify-content:center; text-align: center;">
            <input class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="submit"
                   value="Download PDF">
            <input type="hidden" name="_csrf" value="{{token}}"/>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- CheckBoc Counter -->
  <!-- Content Row
  <div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                Recipes Done</div>
              <div class="count"></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->

</div>
{{>USR_ClientFooter}}
<script src="js/vendor/jquery/jquery.min.js"></script>
<script src="js/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="js/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="js/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo_client.js"></script>
<script src="js/demo/chart-pie-demo_client.js"></script>
<script src="js/demo/chart-bar-demo_client.js"></script>

</body>

</html>