{{>USR_ClientHeader}}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Welcome!</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Enrolled Diets</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Pending Requests</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary" >Bulking Diet</h6>
                </div>
                <form style=" margin-top: 40px; margin-bottom: 60px; text-align: justify;">

                    <table style="margin-bottom: 40px; table-layout: auto; width: 100%; border: 3px solid #5AF499; overflow-x: auto;">
                        <tbody>
                        <tr>
                            <td>Time</td>
                            <td>Monday</td>
                            <td>Tuesday</td>
                            <td>Wednesday</td>
                            <td>Thursday</td>
                            <td>Friday</td>
                            <td>Saturday</td>
                            <td>Sunday</td>
                        </tr>
                        <tr>
                            <td class="day-time">Breakfast</td>
                            <td>
                                <select class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="brmon"
                                        name="brmon">
                                    <option value="fem">option</option>
                                </select>
                            </td>
                            <td>
                                <select class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="brtue"
                                        name="brtue">
                                    <option value="fem">option</option>
                                </select>
                            </td>
                            <td>
                                <select class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="brwed"
                                        name="brwed">
                                    <option value="fem">option</option>
                                </select>
                            </td>
                            <td>
                                <select class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="brthr"
                                        name="brthr">
                                    <option value="fem">option</option>
                                </select>
                            </td>
                            <td>
                                <select class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="brfri"
                                        name="brfri">
                                    <option value="fem">option</option>
                                </select>
                            </td>
                            <td>
                                <select class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="brsat"
                                        name="brsat">
                                    <option value="fem">option</option>
                                </select>
                            </td>
                            <td>
                                <select class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="brsun"
                                        name="brsun">
                                    <option value="fem">option</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="day-time">Lunch</td>
                            <td>
                                <select class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                                        id="lunmon"
                                        name="lunmon">
                                    <option value="fem">option</option>
                                </select>
                            </td>
                            <td>
                                <select class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                                        id="luntue"
                                        name="luntue">
                                    <option value="fem">option</option>
                                </select>
                            </td>
                            <td>
                                <select class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                                        id="lunwed"
                                        name="lunwed">
                                    <option value="fem">option</option>
                                </select>
                            </td>
                            <td>
                                <select class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                                        id="lunthr"
                                        name="lunthr">
                                    <option value="fem">option</option>
                                </select>
                            </td>
                            <td>
                                <select class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                                        id="lunfri"
                                        name="lunfri">
                                    <option value="fem">option</option>
                                </select>
                            </td>
                            <td>
                                <select class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                                        id="lunsat"
                                        name="lunsat">
                                    <option value="fem">option</option>
                                </select>
                            </td>
                            <td>
                                <select class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                                        id="lunsun"
                                        name="lunsun">
                                    <option value="fem">option</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="day-time">Dinner</td>
                            <td>
                                <select class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                                        id="dinmon"
                                        name="dinmon">
                                    <option value="fem">option</option>
                                </select>
                            </td>
                            <td>
                                <select class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                                        id="dintue"
                                        name="dintue">
                                    <option value="fem">option</option>
                                </select>
                            </td>
                            <td>
                                <select class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                                        id="dinwed"
                                        name="dinwed">
                                    <option value="fem">option</option>
                                </select>
                            </td>
                            <td>
                                <select class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                                        id="dinthr"
                                        name="dinthr">
                                    <option value="fem">option</option>
                                </select>
                            </td>
                            <td>
                                <select class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                                        id="dinfri"
                                        name="dinfri">
                                    <option value="fem">option</option>
                                </select>
                            </td>
                            <td>
                                <select class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                                        id="dinsat"
                                        name="dinsat">
                                    <option value="fem">option</option>
                                </select>
                            </td>
                            <td>
                                <select class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                                        id="dinsun"
                                        name="dinsun">
                                    <option value="fem">option</option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
                <!--Tabla de recetas disponibles
                <ul>
                  {{#recipes}}
                  <li>{{.}}</li>
                  {{/recipes}}
                </ul>
                <p>Recipes in table:</p>
                <table>
                  {{#recipes}}
                  <tr>
                    <td>{{-index}}</td>
                    <td>{{.}}</td>
                  </tr>
                  {{/recipes}}
                </table>-->
            </div>
        </div>
    </div>
</div>
{{>USR_ClientFooter}}