{{>USR_NonRegFormHeader}}
<!-- ***** Header Area End ***** -->
s
<!-- ***** Call to Action Start ***** PUBLICIDAD-->
<section class="section" id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <h2 style="margin-bottom: 20px">Take the<em>Test</em>!</h2>
                    <h5 style="color:white">We are going to ask you some questions related to your body, physical condition and aspirations in order to determine what type of diet is best suited to your needs.</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Call to Action End ***** -->

<!-- ***** Features Item Start ***** DIETAS-->
<section class="section" id="questionnaire">
    <div class="container">

        <div class="row">
            <form style=" margin-top: 100px; margin-bottom: 80px;font-size: 18px;font-weight: 800;color: #232d39;letter-spacing: 1.3px;">

                <!--Question-->
                <div class="row" style="margin-bottom: 40px;">
                    <div class="col-1" style="color:#5AF499; text-align:center;">
                        <em>1.</em>
                    </div>
                    <div class="col-11">
                        <div class="row">
                            <label for="gensex"> What is your genetic sex (the one asigned at birth)?</label>
                        </div>
                        <div class="row">
                            <select name="gensex" id="gensex" style="background-color:#5AF499;">
                                <option value="fem">Female</option>
                                <option value="masc">Male</option>
                                <option value="inter">Intersex</option>
                            </select> <br>
                        </div>
                    </div>
                </div>

                <!--Question-->
                <div class="row" style="margin-bottom: 40px;">
                    <div class="col-1" style="color:#5AF499; text-align:center;">
                        <em>2.</em>
                    </div>
                    <div class="col-11">
                        <div class="row">
                            <label for="age"> What is your age?</label>
                        </div>
                        <div class="row">
                            <select name="age" id="age" style="background-color:#5AF499;">
                                <option value="1518">15-18</option>
                                <option value="1925">19-25</option>
                                <option value="2635">26-35</option>
                                <option value="3650">36-50</option>
                                <option value="51">51+</option>
                            </select> <br>
                        </div>
                    </div>
                </div>


                <!--Question-->
                <div class="row" style="margin-bottom: 40px;">
                    <div class="col-1" style="color:#5AF499; text-align:center;">
                        <em>3.</em>
                    </div>
                    <div class="col-11">
                        <div class="row">
                            <label for="phactivity">How often do you make physical activity?</label>
                        </div>
                        <div class="row">
                            <select name="phactivity" id="phactivity" style="background-color:#5AF499;">
                                <option value="low">Three times a month or less</option>
                                <option value="medium">One or two times a week</option>
                                <option value="high">More than three times a week</option>
                            </select> <br>
                        </div>
                    </div>
                </div>

                <!--Question-->
                <div class="row" style="margin-bottom: 40px;">
                    <div class="col-1" style="color:#5AF499; text-align:center;">
                        <em>4.</em>
                    </div>
                    <div class="col-11">
                        <div class="row">
                            <label for="weight" > How much do you weight? (kg)</label>
                        </div>
                        <div class="row">
                            <input type="number" id="weight" name="weight"><br>
                        </div>
                    </div>
                </div>

                <!--Question-->
                <div class="row" style="margin-bottom: 40px;">
                    <div class="col-1" style="color:#5AF499; text-align:center;">
                        <em>5.</em>
                    </div>
                    <div class="col-11">
                        <div class="row">
                            <label for="height" > How tall are you? (m)</label>
                        </div>
                        <div class="row">
                            <input type="number" id="height" name="height"><br>
                        </div>
                    </div>
                </div>

                <!--Question-->
                <div class="row" style="margin-bottom: 40px;">
                    <div class="col-1" style="color:#5AF499; text-align:center;">
                        <em>6.</em>
                    </div>
                    <div class="col-11">
                        <div class="row">
                            <label for="interest" > Why are you interested in our services?</label>
                        </div>
                        <div class="row">
                            <select name="interest" id="interest" style="background-color:#5AF499;">
                                <option value="sports">I am starting with sports and I need advice</option>
                                <option value="diet">I would like to change my body</option>
                                <option value="health">I feel like I could eat better</option>
                            </select> <br>
                        </div>
                    </div>
                </div>

                <!--Question-->
                <div class="row" style="margin-bottom: 40px;">
                    <div class="col-1" style="color:#5AF499; text-align:center;">
                        <em>7.</em>
                    </div>
                    <div class="col-11">
                        <div class="row">
                            <label for="aspiration"> What is the purpose for which you start this journey?</label>
                        </div>
                        <div class="row">
                            <select name="aspiration" id="aspiration" style="background-color:#5AF499;">
                                <option value="sports">Weight loss</option>
                                <option value="diet">Weight gain </option>
                                <option value="health">Healthy eating</option>
                            </select> <br>
                        </div>
                    </div>
                </div>

                <div class="row" style="justify-content:center; text-align: center;">
                    <input type="submit" value="Submit" style="background-color:#5AF499; font-size: 23px;">
                </div>

            </form>

        </div>
    </div>
</section>
<!-- ***** Features Item End ***** -->



<!-- ***** Contact Us Area Ends ***** -->
{{>USR_NonRegFooter}}
