{{>USR_WorkerHeader}}
<!-- ***** Header Area End ***** -->
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <div class="col-lg-12 " style="padding: 40px;">
                    <!-- Content Row -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">New Recipe</h1>
                    </div>

                    <form>
                        <!-- Recipe Name -->
                        <div class="row" style="margin-bottom: 40px;">
                            <div class="col-11">
                                <div class="row">
                                    <label for="recipe"> Recipe Name </label>
                                </div>
                                <div class="row">
                                    <input id="recipe" name="recipe" type="text"><br>
                                </div>
                            </div>
                        </div>
                        <!-- Ingredients textbox -->
                        <div class="row" style="margin-bottom: 40px;">
                            <div class="col-11">
                                <div class="row">
                                    <label for="ingredients"> Ingredients </label>
                                </div>
                                <div class="row">
                <textarea id="ingredients" name="ingredients" rows="4" cols="50">
                </textarea>
                                </div>
                            </div>
                        </div>
                        <!-- Steps textbox -->
                        <div class="row" style="margin-bottom: 40px;">
                            <div class="col-11">
                                <div class="row">
                                    <label for="steps"> Steps to follow </label>
                                </div>
                                <div class="row">
                <textarea id="steps" name="steps" rows="4" cols="50">
                </textarea>
                                </div>
                            </div>
                        </div>
                        <!-- Image of the recipe -->
                        <div class="row" style="margin-bottom: 40px;">
                            <div class="col-11">
                                <div class="row">
                                    <label for="image"> Image of the recipe </label>
                                </div>
                                <div class="row">
                                    <input id="image" name="image" type="file"/>
                                </div>
                            </div>
                        </div>
                        <!-- Submit botton -->
                        <div class="row" style="justify-content:center; text-align: center;">
                            <input class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="submit"
                                   value="Submit">
                        </div>


                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- Footer -->
{{>USR_AdminFooter}}