{{>USR_AdminHeader}}

<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center">
            <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100"/>
            <span class="name mt-3">Maria</span>
            <br>
            <span class="idd">correo</span>
            <a class=" d-flex mt-2" href="/editProfile">
                <button>Edit Profile</button>
            </a>
            <div class=" px-2 rounded mt-4 date "><span class="join">Joined May,2021</span>
            </div>
        </div>
    </div>
</div>