<div class="table-responsive-vertical shadow p-4">
    <form action="/deleteClient" method="post">
    <!-- Table starts here -->
    <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> Juan</td>
            <td>Luis</td>
            <td><a href="/tablesClient/15" style="text-decoration:none">ejemploclient@yahoo.es</a></td>
            <td><input type="checkbox" name="id" value="15"></td>
        </tr>
        <tr>
            <td> Juan</td>
            <td>Perez</td>
            <td><a href="/tablesClient/16" style="text-decoration:none">juan.perez@example.com</a></td>
            <td><input type="checkbox" name="id" value="16"></td>
        </tr>
        <tr>
            <td> Maria</td>
            <td>Garcia</td>
            <td><a href="/tablesClient/17" style="text-decoration:none">maria.garcia@example.com</a></td>
            <td><input type="checkbox" name="id" value="17"></td>
        </tr>
        <tr>
            <td> Pedro</td>
            <td>Sanchez</td>
            <td><a href="/tablesClient/18" style="text-decoration:none">pedro.sanchez@example.com</a></td>
            <td><input type="checkbox" name="id" value="18"></td>
        </tr>
        <tr>
            <td> Ana</td>
            <td>Martinez</td>
            <td><a href="/tablesClient/19" style="text-decoration:none">ana.martinez@example.com</a></td>
            <td><input type="checkbox" name="id" value="19"></td>
        </tr>
        <tr>
            <td> Luis</td>
            <td>Rodriguez</td>
            <td><a href="/tablesClient/20" style="text-decoration:none">luis.rodriguez@example.com</a></td>
            <td><input type="checkbox" name="id" value="20"></td>
        </tr>
        </tbody>
    </table>

