<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #10783c;">
    <div class="container">
        <a class="navbar-brand" href="#">Wellcome Back Admin!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive" style="justify-content: end;">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" routerLinkActive="active">
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./users">Worker Table</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./users">Client Table</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./stats">Statistics</a>
                </li>
                
            </ul>
            <img class="img-profile rounded-circle" src="../../../../../assets/undraw_profile.svg" style=" height: 40px;margin-left: 70px;" >
        </div>
    </div>
</nav>